.content {
  margin: 10px;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.description {
  width: 600px;
  margin-right: 30px;
}

.details {
  width: 450px;
}

.preis {
  font-weight: bold;
  font-size: 28px;
  color: #e2007a;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

img {
  width: 600px;
  margin-bottom: 30px;
}
