<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span (click)="navigateToOverview()">Musikus Instrumente</span>
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="(warenwert$ | async) as warenwert; else emptyShoppingCart" (click)="navigateToShoppingCart()"
      ><mat-icon>shopping_cart</mat-icon>{{ warenwert | currency: 'CHF ' }}</span
    >
  </mat-toolbar-row>
</mat-toolbar>

<ng-template #emptyShoppingCart>
  <span><mat-icon>shopping_cart</mat-icon>{{ 0.0 | currency: 'CHF ' }}</span>
</ng-template>
