<div class="flexWrap" *ngIf="hasInstruments(); else noInstrumentsFound">
  <mat-card *ngFor="let instrument of instrumente" routerLink="/instrumente/{{ instrument.artikelNr }}">
    <mat-card-header>
      <mat-card-title>{{ instrument.name }}</mat-card-title>
      <mat-card-subtitle>{{ instrument.typ }}</mat-card-subtitle>
    </mat-card-header>
    <img class="thumbnail" src="{{ instrument.thumbnail }}" alt="{{ instrument.name }}" />
    <mat-card-content>
      <span class="preis">{{ instrument.preis | currency: 'CHF ' }}</span>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #noInstrumentsFound>
  <mat-card>
    <img src="assets/404.png" height="300px" />
    <mat-card-content>
      <p>Für die eingegebenen Suchkriterien konnten leider keine Instrumente gefunden werden.</p>
    </mat-card-content>
  </mat-card>
</ng-template>
