.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  margin: 10px;
}

.preis {
  font-weight: bold;
  font-size: 18px;
  color: #e2007a;
}

.notFound {
  margin: 20px;
  height: 300px;
}

.spacer {
  margin: 20px;
}

mat-card {
  width: 260px;
  margin: 10px;
  cursor: pointer;
}
