<div class="filter">
  <mat-form-field>
    <mat-select
      placeholder="Instrument-Typ"
      [(value)]="filter.selectedTyp"
      (selectionChange)="instrumentTypChanged($event.value)"
    >
      <mat-option [value]="">Alle Instrument-Typen</mat-option>
      <mat-option *ngFor="let typ of filter.typen" [value]="typ">{{ typ }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="filter">
  <mat-form-field>
    <mat-select
      placeholder="Hersteller"
      [(value)]="filter.selectedHersteller"
      (selectionChange)="herstellerChanged($event.value)"
    >
      <mat-option [value]="">Alle Hersteller</mat-option>
      <mat-option *ngFor="let hersteller of filter.hersteller" [value]="hersteller">{{ hersteller }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
